<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<title>Book List</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>


	<header th:insert="layout/fragment.html :: header"> </header>

	<div align="center" class="container">
		<h1>Book List</h1>
		<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
			<a href="/books/new">Create New Book</a>
		</div>
		<br />
		<form th:action="@{/books/page/'+${currentPage}+'?sortField=id&sortType=asc}">
			Filter: <input type="text" name="keyword" id="keyword" size="50"
				th:value="${keyword}" required /> &nbsp; <input type="submit"
				value="Search" /> &nbsp; <input type="button" value="Clear"
				id="btnClear" onclick="clearSearch()" />
		</form>
		<br />

		<table border="1"
			class="table table-striped table table-hover table-bordered">
			<thead>

				<tr>
					<th><a
						th:href="@{'/books/page/' + ${currentPage} + '?sortField=id&sortType=' + ${reverseSortType}}">Book
							ID</a></th>
					<th><a
						th:href="@{'/books/page/' + ${currentPage} + '?sortField=title&sortType=' + ${reverseSortType}}">Title</a></th>
					<th><a
						th:href="@{'/books/page/' + ${currentPage} + '?sortField=author&sortType=' + ${reverseSortType}}">Author</a></th>
					<th><a
						th:href="@{'/books/page/' + ${currentPage} + '?sortField=price&sortType=' + ${reverseSortType}}">Price</a></th>
					<th><a
						th:href="@{'/books/page/' + ${currentPage} + '?sortField=category&sortType=' + ${reverseSortType}}">Category</a></th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${books}">
					<td th:text="${book.id}">Book ID</td>
					<td th:text="${book.title}">Title</td>
					<td th:text="${book.author}">Author</td>
					<td th:text="${book.price}">Price</td>
					<td th:text="${book.category.name}">Category</td>
					<td>
						<div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
							<a th:href="@{'/books/edit/' + ${book.id}}">Edit</a>
						</div>
						<div sec:authorize="hasAuthority('ADMIN')">
							<a th:href="@{'/books/delete/' + ${book.id}}">Delete</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<h5>Total Items: [[${totalItems}]]</h5>
			<a th:if="${currentPage > 1}"
				th:href="@{'/books/page/1?sortField='+${sortField}+'&sortType=' + ${sortType}}">First</a>
			<span th:unless="${currentPage > 1}">First</span> <a
				th:if="${currentPage > 1}"
				th:href="@{'/books/page/' + ${currentPage - 1}+ '?sortField='+${sortField}+'&sortType=' + ${sortType}}">Previous</a>
			<span th:unless="${currentPage > 1}">Previous</span> <span
				th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
				th:if="${currentPage != i}"
				th:href="@{'/books/page/' + ${i}+ '?sortField='+${sortField}+'&sortType=' + ${sortType}}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
			</span> <a th:if="${currentPage < totalPages}"
				th:href="@{'/books/page/' + ${currentPage + 1}+ '?sortField='+${sortField}+'&sortType=' + ${sortType}}">Next</a>
			<span th:unless="${currentPage < totalPages}">Next</span> <a
				th:if="${currentPage < totalPages}"
				th:href="@{'/books/page/' + ${totalPages}+ '?sortField='+${sortField}+'&sortType=' + ${sortType}}">Last</a>
			<span th:unless="${currentPage < totalPages}">Last</span>



		</div>
	</div>
</body>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/books/}]]";
	}
</script>
</html>